div{
	width: 100px;
	height: 100px;
	background: #4A88F4;
	color: #fff;
	font-size: 30px; 
	float:left; 
}

/*.cajaPadre{
	width: 500px;
	height: 500px;
	background: black;
	position: relative;
}*/

.cajaHijo{
	/*position: relative; Posicionar una caja y despues desplazarla de su posicion original*/
	/*position:absolute; Nos desplaza la caja hacia left:200px, el espacio que dejaria el la caja desparece*/
	/*position: fixed; Queda fijo en la pantalla y no afecta los demas elementos*/
	position: static; /*Todo regresa a la normalidad, por defecto*/
	top:100px;
	bottom:0px;
	right:0px;
	left:300px;
}