/*body{
	text-align: center;
	font-family: sans-serif;
	margin;
	}
}

img{
	width: 200px;
	height: 200px;
}

.modal{
	width: 100%;
	height:100vh;
	background-color: rgba(0,0,0,0.8);

	position: absolute;
	top: 0;
	left: 0; 
	display: flex;

	animation: modal 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	visibility: hidden;
	opacity: 0;
}

.contenido{
	margin: auto;
	width: 40%;
	height: 40%;
	background-color: white;
	border-radius: 10px;
}

#cerrar{
	display: none;
}

#cerrar + label{
	position: fixed;
	color: white;
	font-size: 25px;
	z-index: 50;
	background-color: darkred;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	right: 10px;
	cursor: pointer;

	animation: modal 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	visibility: hidden;
	opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal{
	display: none;
}

@keyframes modal{
	100%{
		visibility:visible;
		opacity:1;
	}
}



*/

body{
	
}

.contenedor-botones{
	display: flex;
	justify-content:space-around;
	width:30%;
	margin-left: 10%;
}

button{
	color: white;
}

.modal-header{
	display: flex;
	justify-content: spa
}

.modal-body{
	background-color: grey;
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

