@media (max-width:768px) { /*Dispositivos Moviles*/
	/*header label{
		display: block;
	}*/
	/*.menu{
		position: absolute;
		background: #4E94AB;
		width: 70%;
		margin-left: -70%;
		transition:  all 0.5s;
	}*/

	.menu{
		/*flex-direction:column; */
		display:none;
	}

	header .contenedorTitulo{
		display: flex;
		justify-content:flex-end;
		margin-right:20px;
	}

	/*.menu li{
		border-top:1px solid white; 
	}*/

	/*#btn-menu:checked ~ .menu{
		margin: 0;
	}*/
}